*.*
!*.css
!*.js
!*.mjs
!*.json
!*.vue
!*.ts
!*.yml
!*.yaml
!*.md

# Add files here to ignore them from prettier formatting

/build
/dist
/node_modules

# Misc
.DS_Store
.eslintrc.json
.github
.vscode
